@import './normalize.css';
@import './base.css';
@import './default.css';
@import './animation.css';

/* header  */
.header {
  position: relative;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #fff;
}

.header__container {
  margin-bottom: 60px;
}

.tel-info__img {
  padding: 12px;
  border-radius: 100%;
  margin-right: 20px;
  background-color: var(--red-01);
}

.tel-info__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  color: var(--red);
}

.tel-info__tel {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark-light);
}

.header__logo-block {
  max-width: 450px;
  margin-inline: 20px;
}

.logo-block__img-wrap {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.logo-block h1 {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 700;
  line-height: 145%;
  color: var(--dark-light);
}

.nav-main.disabled {
  visibility: hidden;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  padding-block: 30px;
  box-shadow: 0 -8px 20px 15px var(--dark-lighter-01);
  z-index: 1000;
}

.nav-fixed.container {
  max-width: 100%;
}

.nav-main.disabled+.nav-fixed {
  display: flex;
}

.nav {
  background-color: #fff;
}

.nav__item:not(:last-child) {
  margin-right: 5px;
}

.nav-link {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid var(--white-smoke);
  padding: 14px 30px 12px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 125%;
  color: var(--dark-lighter);
  transition: transform var(--transition-duration-2), outline-color var(--transition-duration-2);
}

.nav-link:hover {
  transform: translateY(-4px);
}

.nav-link:focus-visible {
  outline-color: var(--red);
}

.nav-link:active {
  transform: translateY(-4px);
}

.nav__burger-btn {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 12px;
}

.nav__burger-btn.nav__burger-btn-active {
  display: none;
}

.burger-menu {
  position: fixed;
  inset: 0;
  display: none;
  background-color: var(--dark-06);
  z-index: 99000;
}

.burger-menu.active {
  display: block;
}

.burger-menu__box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 16px;
  padding-top: 25px;
  max-width: 344px;
  width: 100%;
  background-color: #fff;
}

.burger-menu__list {
  width: 100%;
}

.burger-menu__item:not(:last-child) {
  margin-bottom: 25px;
}

.nav__burger-btn.nav__burger-btn-close {
  margin-bottom: 10px;
  margin-left: auto;
}


/* bg - header  */
.bg-block-transparent {
  position: relative;
  width: 100%;
  height: clamp(204px, 50vw, 444px);
  background-color: transparent;
  overflow: hidden;
}

.bg-fixed {
  position: absolute;
  inset: 0;
  background-attachment: fixed;
  background-image: url('https://lp3-gr-fast-food.21.oml.ru/d/3609706/d/1212.jpg');
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: -1;
}



/* menu  */
.menu {
  padding-bottom: 50px;
  background-color: var(--white-smoke);
}

.menu__title {
  padding-top: 50px;
  color: var(--red);
  background-color: #fff;
}

.menu__title span {
  display: block;
}

.menu__tabs-wrap {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid var(--grey-lighter);
  overflow: auto;
}

.menu__tabs {
  width: 100%;
  padding-inline: 30px;
}

.menu__tab:not(:last-child) {
  margin-right: 40px;
}


.menu__tab-btn {
  position: relative;
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark-lighter);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity var(--transition-duration-2);
}

.menu__tab-btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--dark-lighter);
  opacity: 0;
  z-index: 1;
  transition: opacity var(--transition-duration-2);
}

.menu__tab-btn:hover,
.menu__tab-btn:hover::before,
.menu__tab-btn:active,
.menu__tab-btn:active::before {
  opacity: 1;
}

.menu__tab-btn.tab-active {
  opacity: 1;
}

.menu__tab-btn.tab-active::before {
  opacity: 1;
}

.menu__content-list {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}

.menu__content-list.content-active {
  display: grid;
}

.menu-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--dark-lighter-01);
  background-color: #fff;
  overflow: hidden;
}

.menu-card__img-wrap {
  width: 100%;
  max-width: 258px;
  height: 265px;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
}

.menu-card__img-wrap img {
  object-fit: cover;
}

.menu-card__name {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-lighter);
}

.menu-card__price {
  margin-top: auto;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark);
}

.menu-card__order {
  width: 100%;
  margin-top: 25px;
}



/* advantages  */
.advantages {
  padding-block: 30px;
}

.advantages__title {
  margin-bottom: 32px;
}

.advantages__title span {
  display: block;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 48px;
  animation-delay: .2s;
}

.advantages__box {
  padding-top: 24px;
  height: 100%;
}

.advantages__text {
  position: relative;
  height: 100%;
  padding: 32px 16px;
  padding-top: 57px;
  border-radius: 16px;
  background-color: var(--white-smoke);
}

.advantages__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 80px;
  width: 80px;
  padding: 16px;
  border-radius: 100%;
  background-image: url('../img/ok.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.advantages__text h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-lighter);
}

.advantages__text p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--dark-lighter-07);
}



/* about-us  */
.about-us {
  padding-block: 50px;
  animation-duration: .3s;
}

.about-us__container {
  position: relative;
  padding-block: 240px;
}

.about-us__img-first,
.about-us__img-last {
  content: '';
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 417px;
  max-width: 628px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.about-us__img-first {
  top: 0;
  left: 15px;
  animation-delay: .05s;
}

.about-us__img-last {
  bottom: 0;
  right: 15px;
  animation-delay: .15s;
}

.about-us__img-first img,
.about-us__img-last img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-us__block {
  position: relative;
  max-width: 628px;
  width: 100%;
  padding: 36px;
  margin-inline: auto;
  border-radius: 16px;
  background-color: #fff;
  z-index: 1;
  animation-delay: .1s;
}

.about-us__title {
  text-align: start;
  margin-bottom: 10px;
}

.about-us__descr {
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter-07);
}

.about-us__descr>p:not(:last-child) {
  margin-bottom: 25px;
}



/* delivery  */
.delivery__left,
.delivery__right {
  width: 50vw;
}

.delivery__left img {
  object-fit: cover;
}

.delivery__right {
  padding: 80px 20px;
  background-color: var(--white-smoke);
}

.delivery__right-inner {
  max-width: 482px;
  width: 100%;
  margin-inline: auto;
}

.delivery__title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  color: var(--red);
}

.delivery__descr {
  margin-bottom: 30px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter);
}

.delivery-form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  gap: 32px;
  margin-bottom: 32px;
}

.delivery-form__label {
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: var(--dark-lighter);
}

.delivery-form__date input {
  cursor: pointer;
}

.delivery-form__input-wrap {
  position: relative;
  cursor: pointer;
}

.delivery-form__date svg {
  position: absolute;
  top: 13px;
  right: 15px;
  opacity: 0.5;
  transition: opacity var(--transition-duration-2);
}

.delivery-form__date:hover svg {
  opacity: 1;
}

.delivery-form__wishes textarea {
  height: 100%;
  max-height: 103px;
  resize: none;
}

.delivery-form__submit {
  margin-top: 17px;
}




/* spec-offers  */
.spec-offers {
  padding-top: 100px;
  padding-bottom: 120px;
}

.spec-offers__title {
  color: var(--dark-light);
  line-height: 125%;
  margin-bottom: 40px;
}

.spec-offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}

.spec-offers__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  border: 1px solid var(--dark-lighter-01);
  border-radius: 16px;
}

.spec-offers__img-wrap {
  height: 230px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden;
}

.spec-offers__img-wrap img {
  object-fit: cover;
}

.spec-offers__texts {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-inline: 32px;
}

.spec-offers__card-title {
  margin-bottom: 16px;
  font-size: 19px;
  font-weight: 700;
  line-height: 145%;
  color: var(--dark-lighter);
}

.spec-offers__card-list {
  margin-bottom: 24px;
}

.spec-offers__card-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter-07);
}

.spec-offers__card-item:not(:last-child) {
  margin-bottom: 3px;
}

.spec-offers__card-price {
  margin-top: auto;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
  color: var(--red);
}

.spec-offers__card-offer {
  width: 100%;
  margin-top: 24px;
}



/* gallery swiper */
.swiper .swiper-slide {
  display: flex;
  align-items: center;
}

.swiper.swiper-modal-gallery {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--dark-06);
  z-index: 10000;
}

.swiper-modal-gallery .swiper-wrapper {
  align-items: center;
}

.swiper-modal-gallery__btn-close {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 30px;
  width: 30px;
  transition: transform var(--transition-duration-2);
  z-index: 10001;
}

.swiper-modal-gallery__btn-close:hover {
  transform: rotateZ(90deg);
}

.swiper-modal-gallery .swiper-slide {
  max-height: clamp(300px, 45vw, 600px);
}

.swiper.swiper-modal-gallery .swiper-slide img {
  display: block;
  height: 100%;
  width: auto;
  margin-inline: auto;
}

.swiper.swiper-modal-gallery.active {
  display: block;
}

.swiper.swiper-modal-gallery .swiper-button-next,
.swiper.swiper-modal-gallery .swiper-button-prev {
  height: 50px;
  width: 50px;
}

.swiper.swiper-modal-gallery .swiper-button-next::after,
.swiper.swiper-modal-gallery .swiper-button-prev::after {
  font-size: 16px;
  color: #fff;
}

.swiper.swiper-modal-gallery .swiper-button-next::before,
.swiper.swiper-modal-gallery .swiper-button-prev::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  transition: background-color var(--transition-duration-2);
}

.swiper.swiper-modal-gallery .swiper-button-next:hover::before,
.swiper.swiper-modal-gallery .swiper-button-prev:hover::before {
  background-color: rgba(255, 255, 255, .3);
}

.swiper.swiper-modal-gallery .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper.swiper-modal-gallery .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 20px !important;
  left: 30px !important;
  bottom: initial !important;
  height: auto !important;
  width: auto !important;
  font-size: 20px;
  color: #fff !important;
}

.swiper.swiper-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.swiper.swiper-gallery .swiper-slide img {
  max-height: clamp(300px, 40vw, 600px);
}

.swiper.swiper-gallery:active {
  cursor: grabbing;
}

.fake-slider._odd {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
}

.swiper.swiper-gallery .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  width: clamp(176px, 30vw, 408px);
}

.swiper.swiper-gallery .swiper-slide._odd {
  width: clamp(376px, 50vw, 856px);
}

.swiper-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease-out;
}

.swiper-gallery .swiper-slide:hover img {
  transform: scale(1.2);
}


/* contacts  */
.contacts {
  position: relative;
  padding-block: 64px;
  overflow: hidden;
}

#map {
  position: absolute;
  inset: 0;
  height: clamp(377px, 72vw, 741px);
  overflow: hidden;
}

.contacts__contacts-box {
  position: relative;
  max-width: 408px;
  width: 100%;
  padding: 38px 60px 40px;
  border-radius: 16px;
  border: 1px solid var(--dark-lighter-01);
  box-shadow: 0px 4px 35px var(--dark-lighter-01);
  background-color: #fff;
  z-index: 10;
}

.contacts__title {
  margin-bottom: 25px;
  text-align: left;
  font-size: 35px;
  line-height: 125%;
}

.contacts__list {
  margin-bottom: 40px;
}

.contacts__item {
  border-bottom: 1px solid var(--white-smoke);
  padding-block: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark);
}

.contacts__item span {
  display: block;
}

.contacts__tel {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 138%;
}

.contacts__email {
  display: inline-block;
  line-height: 138%;
  color: var(--red);
}

.contacts__socials {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
  gap: 20px;
}

.contacts__link {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  transition:
    opacity var(--transition-duration-2),
    filter var(--transition-duration-2),
    outline-color var(--transition-duration-2);
}

.contacts__link:hover {
  opacity: 0.7;
}

.contacts__link:focus-visible {
  outline-color: var(--red);
}

.contacts__link:active {
  filter: contrast(3);
  opacity: 1;
}

/* footer  */
.footer {
  height: 50px;
  background-color: var(--white-smoke);
}



/* modal */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000000;
}

.modal.active {
  display: block;
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 50px;
  background-color: var(--dark-06);
  overflow: auto;
}

.modal__box {
  position: relative;
  margin-inline: auto;
  padding-top: 48px;
}

.modal__content {
  position: relative;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
}

.modal__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--dark-light);
}

.modal__descr {
  margin-bottom: 32px;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 2px;
  height: 30px;
  width: 30px;
  transition: transform var(--transition-duration-2);
}

.modal__close:hover {
  transform: rotateZ(90deg);
}

.modal .content-offer-call,
.modal .content-offer-eat {
  display: none;
}

.modal.offer-call .content-offer-call,
.modal.offer-eat .content-offer-eat {
  display: block;
}

.content-offer-call .form-agreement-default p:hover,
.content-offer-eat .form-agreement-default p:hover {
  color: var(--red);
}

.content-offer-call .input-default-wrapper:first-child,
.content-offer-eat .input-default-wrapper:first-child {
  margin-bottom: 30px;
}

.content-offer-call .checkbox-custom,
.content-offer-eat .checkbox-custom {
  margin-top: 40px;
  padding-left: 8px;
}

.content-offer-call .checkbox-custom p,
.content-offer-eat .checkbox-custom p {
  font-weight: 400;
  line-height: 120%;
  color: var(--dark-light);
}

.content-offer-call .modal__ok,
.content-offer-eat .modal__ok {
  margin-top: 40px;
}

/* .content-offer-call  */
.offer-call .modal__title,
.offer-call .modal__descr {
  text-align: center;
}

.modal.offer-call .modal__box {
  max-width: 592px;
  width: 100%;
}

.content-offer-call {
  padding: 32px;
}

.content-offer-call .input-default-label {
  font-weight: 600;
}

.content-offer-call .modal__ok {
  display: block;
  margin-inline: auto;
  transition: transform var(--transition-duration-2);
}

.content-offer-call .modal__ok:hover {
  transform: scale(1.1);
}

.content-offer-call .checkbox-custom {
  margin-right: 8px;
}


/* .content-offer-eat  */
.modal.offer-eat .modal__box {
  max-width: 848px;
  width: 100%;
}

.modal.offer-eat .content-offer-eat {
  display: flex;
  min-height: 540px;
}

.content-offer-eat .form-agreement-default {
  text-align: start;
}

.content-offer-eat__right .input-default-label {
  font-weight: 700;
  color: var(--dark-light);
}

.content-offer-eat__left {
  max-width: 408px;
  width: 100%;
  overflow: hidden;
}

.content-offer-eat__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-offer-eat__right {
  padding: 32px;
  padding-left: 28px;
}

.content-offer-eat__right .modal__title {
  margin-bottom: 10px;
}