@import './normalize.css';
@import './base.css';
@import './default.css';
@import './animation.css';

/* glop  */


/* header  */
.header {
  position: relative;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #fff;
}

.header__container {
  margin-bottom: 60px;
}

.header__tel {}

.tel-info {}

.tel-info__img {
  padding: 12px;
  border-radius: 100%;
  margin-right: 20px;
  background-color: var(--red-01);
}

.tel-info__content {}

.tel-info__text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 142%;
  color: var(--red);
}

.tel-info__tel {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark-light);
}

.header__logo-block {}

.logo-block {}

.logo-block__img-wrap {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.logo-block h1 {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 700;
  line-height: 145%;
  color: var(--dark-light);
}

.btn-default {}

.header__order-tel {}

.header__bottom {}

.nav-main.disabled {
  visibility: hidden;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  padding-block: 30px;
  box-shadow: 0 -8px 20px 15px var(--dark-lighter-01);
  z-index: 1000;
}

.nav-main.disabled+.nav-fixed {
  display: flex;
}

.nav {
  background-color: #fff;
}

.nav__item:not(:last-child) {
  margin-right: 5px;
}

.nav__link {
  display: inline-block;
  border-radius: 50px;
  border: 1px solid var(--white-smoke);
  padding: 14px 30px 12px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 125%;
  color: var(--dark-lighter);
  transition: transform var(--transition-duration-2);
}

.nav__link:hover {
  transform: translateY(-4px);
}

.nav__link:focus-visible {}

.nav__link:active {}


/* bg - header  */
.bg-fixed {
  position: fixed;
  inset: 0;
  background-attachment: fixed;
  background-image: url('https://lp3-gr-fast-food.21.oml.ru/d/3609706/d/1212.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: -1;
}

.bg-block-transparent {
  width: 100%;
  height: 444px;
  background-color: transparent;
}



/* menu  */
.menu {
  padding-bottom: 50px;
  background-color: var(--white-smoke);
}

.menu__title {
  padding-top: 50px;
  color: var(--red);
  background-color: #fff;
}

.menu__tabs-wrap {
  margin-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid var(--grey-lighter);
}

.menu__tabs {
  padding-inline: 30px;
}

.menu__tab:not(:last-child) {
  margin-right: 40px;
}


.menu__tab-btn {
  position: relative;
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark-lighter);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity var(--transition-duration-2);
}

.menu__tab-btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--dark-lighter);
  opacity: 0;
  z-index: 1;
  transition: opacity var(--transition-duration-2);
}

.menu__tab-btn:hover,
.menu__tab-btn:hover::before,
.menu__tab-btn:active,
.menu__tab-btn:active::before {
  opacity: 1;
}

.menu__tab-btn.tab-active {
  opacity: 1;
}

.menu__tab-btn.tab-active::before {
  opacity: 1;
}

.menu__contents {}

.menu__content-list {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 35px;
}

.menu__content-list.content-active {
  display: grid;
}

.menu-card {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--dark-lighter-01);
  background-color: #fff;
  overflow: hidden;
}

.menu-card__img-wrap {
  width: 258px;
  height: 265px;
  margin-bottom: 15px;
  border-radius: 12px;
  overflow: hidden;
}

.menu-card__img-wrap img {
  object-fit: cover;
}

.menu-card__name {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-lighter);
}

.menu-card__price {
  margin-top: auto;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  color: var(--dark);
}

.menu-card__order {
  width: 100%;
  margin-top: 25px;
}

.menu__content {}



/* advantages  */
.advantages {
  padding-block: 30px;
}

.advantages__title {
  margin-bottom: 32px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 48px;
}

.advantages__item {}

.advantages__box {
  padding-top: 24px;
}

.advantages__text {
  position: relative;
  padding: 32px 16px;
  padding-top: 57px;
  border-radius: 16px;
  background-color: var(--white-smoke);
}

.advantages__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 80px;
  width: 80px;
  padding: 16px;
  border-radius: 100%;
  background-image: url('../img/ok.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.advantages__text h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--dark-lighter);
}

.advantages__text p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--dark-lighter-07);
}



/* about-us  */
.about-us {
  padding-block: 50px;
}

.about-us__container {
  position: relative;
  padding-block: 32px;
}

.about-us__container::before,
.about-us__container::after {
  content: '';
  position: absolute;
  height: 417px;
  width: 628px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__container::before {
  top: 0;
  left: 0;
  background-image: url('https://lp3-gr-fast-food.21.oml.ru/thumb/2/s9cRrp_0R0yH6LI6k7zyUQ/628r/d/55219694_2.jpg');
}

.about-us__container::after {
  bottom: 0;
  right: 0;
  background-image: url('	https://lp3-gr-fast-food.21.oml.ru/thumb/2/tm0u3eUtSH-8qfxVxtrBUA/628r/d/55224334_2.jpg');
}

.about-us__block {
  position: relative;
  max-width: 628px;
  width: 100%;
  padding: 36px;
  margin-inline: auto;
  border-radius: 16px;
  background-color: #fff;
  z-index: 1;
}

.about-us__title {
  text-align: start;
  margin-bottom: 10px;
}

.about-us__descr {
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter-07);
}

.about-us__descr>p {
  margin-bottom: 25px;
}



/* delivery  */
.delivery {}

.delivery__left,
.delivery__right {
  width: 50vw;
}

.delivery__left img {
  object-fit: cover;
}

.delivery__right {
  padding: 80px 20px;
  background-color: var(--white-smoke);
}

.delivery__right-inner {
  max-width: 482px;
  width: 100%;
  margin-inline: auto;
}

.delivery__title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  color: var(--red);
}

.delivery__descr {
  margin-bottom: 30px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter);
}

.delivery__form {}

.delivery-form {}

.delivery-form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 2fr;
  gap: 32px;
  margin-bottom: 32px;
}

.delivery-form__label {
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: var(--dark-lighter);
}

.delivery-form__star {
  color: var(--red);
  font-size: 18px;
  vertical-align: middle;
}

.delivery-form__name {}


.delivery-form__tel {}

.delivery-form__date {}

.delivery-form__guests {}

.delivery-form__wishes textarea {
  height: 100%;
  max-height: 103px;
  resize: none;
}

.delivery-form__submit {
  margin-top: 17px;
}

.delivery-form__agreement p {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: var(--dark-lighter);
}

.delivery-form__agreement a {
  text-decoration: underline;
  color: var(--red);
}

.delivery-form__checkbox {
  margin-right: 8px;
}

.delivery-form__checkbox-castom {}



/* spec-offers  */
.spec-offers {
  padding-top: 100px;
  padding-bottom: 120px;
}

.spec-offers__title {
  color: var(--dark-light);
  line-height: 125%;
  margin-bottom: 40px;
}

.spec-offers__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 32px;
}

.spec-offers__item {}

.spec-offers__card {
  padding: 30px;
  border: 1px solid var(--dark-lighter-01);
  border-radius: 16px;
}

.spec-offers__img-wrap {
  height: 230px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden;
}

.spec-offers__img-wrap img {
  object-fit: cover;
}

.spec-offers__texts {
  padding-inline: 32px;
}

.spec-offers__card-title {
  margin-bottom: 16px;
  font-size: 19px;
  font-weight: 700;
  line-height: 145%;
  color: var(--dark-lighter);
}

.spec-offers__card-list {
  margin-bottom: 24px;
}

.spec-offers__card-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark-lighter-07);
}

.spec-offers__card-item:not(:last-child) {
  margin-bottom: 3px;
}

.spec-offers__card-price {
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
  color: var(--red);
}

.spec-offers__card-offer {
  width: 100%;
}



/* gallery swiper */
.gallery {}

.swiper {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow: hidden;
  cursor: grab;
}

.swiper:active {
  cursor: grabbing;
}

.fake-slider._odd {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-100%);
}

.swiper .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
  width: 408px;
}

.swiper .swiper-slide._odd {
  width: 856px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease-out;
}

.swiper-slide:hover img {
  transform: scale(1.2);
}


/* contacts  */
.contacts {
  position: relative;
  padding-block: 64px;
}

#map {
  position: absolute;
  inset: 0;
  /* width: 100vw;
  height: 741px; */
}

.contacts__map {}

.contacts__contacts-box {
  position: relative;
  max-width: 408px;
  width: 100%;
  margin-left: 110px;
  padding: 38px 60px 40px;
  border-radius: 16px;
  border: 1px solid var(--dark-lighter-01);
  box-shadow: 0px 4px 35px var(--dark-lighter-01);
  background-color: #fff;
  z-index: 10;
}

.contacts__title {
  margin-bottom: 25px;
  text-align: left;
  font-size: 35px;
  line-height: 125%;
}

.contacts__list {
  margin-bottom: 25px;
}

.contacts__item {
  border-bottom: 1px solid var(--white-smoke);
  padding-block: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--dark);
}

.contacts__item span {
  display: block;
}

.contacts__tel {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 138%;
}

.contacts__email {
  display: inline-block;
  line-height: 138%;
  color: var(--red);
}

.contacts__socials {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: auto;
  gap: 20px;
}

.contacts__link {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  transition: opacity var(--transition-duration-2), filter var(--transition-duration-2);
}

.contacts__link:hover {
  opacity: 0.7;
}

.contacts__link:focus-visible {
  outline-color: var(--red);
}

.contacts__link:active {
  filter: contrast(3);
  opacity: 1;
}

/* footer  */
.footer {
  height: 100px;
  background-color: #fff;
}