/* glop  */
@media (min-width:10px) and (max-width:1024px) {

  .section-title {
    font-size: 30px;
    line-height: 125%;
  }

  .form-agreement-default p {
    font-size: 15px;
    font-weight: 400;
  }
}

@media (min-width:600px) and (max-width:1200px) {

  .menu,
  .advantages,
  .about-us,
  .spec-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width:600px) and (max-width:1024px) {
  .section-title {
    font-size: 35px;
    line-height: 125%;
  }
}


@media (min-width:600px) and (max-width:960px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width:960px) and (max-width:1200px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) and (max-width:1380px) {
  .container {
    max-width: 1200px;
  }
}



/* header  */
@media (min-width:10px) and (max-width:960px) {
  .header__container {
    flex-direction: column;
    text-align: center;
  }

  .header__logo-block {
    margin-bottom: 20px;
    order: -1;
  }

  .logo-block h1 {
    font-size: 20px;
    line-height: 156%;
  }

  .header__tel {
    margin-bottom: 20px;
  }

  .tel-info__img {
    display: none;
  }

  .tel-info__tel {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (min-width:600px) and (max-width:1024px) {

  .header__logo-block h1 {
    font-size: 22px;
    line-height: 145%;
  }

  .tel-info__img {
    display: block;
  }

  .tel-info__tel {
    font-size: 18px;
    line-height: 156%;
  }
}

@media (min-width:600px) and (max-width:960px) {
  .header__container {
    max-width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header__logo-block {
    flex-basis: 100%;
    max-width: 100%;
  }
}




/* nav  */
@media (min-width:10px) and (max-width:1380px) {
  .nav__list {
    display: none;
  }

  .nav__burger-btn.nav__burger-btn-active {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width:600px) and (max-width:960px) {

  .nav.nav-main {
    max-width: 600px;
  }
}



/* menu  */
@media (min-width:10px) and (max-width:1200px) {

  .menu__tabs {
    max-width: 940px;
  }
}

@media (min-width:10px) and (max-width:1024px) {

  .menu__tab-btn {
    font-size: 17px;
  }

  .menu__content-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width:10px) and (max-width:960px) {

  .menu__tabs {
    width: fit-content;
  }
}

@media (min-width:10px) and (max-width:600px) {

  .menu-card__img-wrap {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width:600px) and (max-width:1200px) {

  .menu-card {
    max-width: 292px;
  }
}

@media (min-width:600px) and (max-width:1024px) {

  .menu__content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width:960px) and (max-width:1200px) {

  .menu__content-list {
    grid-template-columns: repeat(3, 292px);
  }
}

@media (min-width:960px) and (max-width:1024px) {
  .menu__tab-btn {
    font-size: 18px;
  }
}

@media (min-width:1200px) and (max-width:1380px) {

  .menu__content-list {
    gap: 25px;
  }
}



/* advantages  */
@media (min-width:10px) and (max-width:600px) {
  .advantages__list {
    grid-template-columns: 1fr;
  }
}

@media (min-width:600px) and (max-width:960px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .advantages__item:nth-child(3n) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .advantages__text {
    max-width: 276px;
    margin-inline: auto;
  }
}



/* about-us  */
@media (min-width:10px) and (max-width:960px) {

  .about-us {
    padding-bottom: 0;
  }

  .about-us__img-first,
  .about-us__img-last {
    position: static;
    width: auto;
    height: 288px;
  }

  .about-us__title {
    padding-left: 20px;
  }

  .about-us__block {
    padding: 20px;
  }
}

@media (min-width:10px) and (max-width:600px) {

  .about-us__img-first,
  .about-us__img-last {
    height: 198px;
  }
}

@media (min-width:960px) and (max-width:1200px) {

  .about-us__img-first,
  .about-us__img-last {
    width: 432px;
    height: auto;
  }
}

@media (min-width:1200px) and (max-width:1380px) {

  .about-us__img-first,
  .about-us__img-last {
    width: 564px;
    height: auto;
  }
}


/* delivery  */
@media (min-width:10px) and (max-width:1200px) {
  .delivery-form__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width:10px) and (max-width:600px) {

  .delivery__title {
    font-size: 22px;
  }

  .delivery__descr {
    font-size: 17px;
  }

  .delivery__left {
    display: none;
  }

  .delivery__right {
    width: 100%;
    padding: 32px 16px;
  }

  .delivery__right-inner {
    max-width: 100%;
  }
}

@media (min-width:10px) and (max-width:1200px) {

  .delivery-form__submit {
    margin-top: 60px;
  }
}

@media (min-width:480px) and (max-width:600px) {

  .delivery__title {
    font-size: 28px;
  }

  .delivery__descr {
    font-size: 18px;
  }
}

@media (min-width:600px) {

  .delivery__left {
    display: block;
  }

  .delivery__right {
    padding: 64px 12px;
  }
}

@media (min-width:600px) and (max-width:960px) {

  .delivery__title {
    font-size: 28px;
  }

  .delivery__descr {
    font-size: 18px;
  }
}

@media (min-width:960px) and (max-width:1200px) {

  .delivery__title {
    font-size: 32px;
  }

  .delivery__descr {
    font-size: 19px;
  }
}



/* spec-offers  */
@media (min-width:10px) and (max-width:1024px) {

  .spec-offers__title {
    letter-spacing: 0.8px;
  }

  .spec-offers__list {
    grid-template-columns: 1fr;
  }

  .spec-offers__card {
    padding: 20px;
  }

  .spec-offers__texts {
    padding-inline: 15px;
  }
}



/* gallery */
@media (min-width:10px) and (max-width:1024px) {

  .swiper.swiper-gallery {
    max-height: 300px;
  }

  .swiper.swiper-gallery .swiper-slide,
  .swiper.swiper-gallery .swiper-slide._odd {
    width: 100%;
  }

  .swiper-button-prev, .swiper-rtl .swiper-button-next,
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: auto;
    bottom: calc((100vh / 2) - 150px);
  }
}



/* contacts */
@media (min-width:10px) and (max-width:1024px) {

  #map {
    position: relative;
    height: 377px;
    overflow: hidden;
  }

  .contacts__contacts-box {
    position: static;
    max-width: 150px;
    margin-inline: auto;
    margin-left: 0;
    padding: 38px 60px 40px;
    border-radius: inherit;
    border: none;
    box-shadow: none;
  }

  @media (min-width:10px) and (max-width:1024px) {

    #map {
      position: relative;
    }

    .contacts__contacts-box {
      position: static;
      max-width: 167px;
      margin-inline: auto;
      padding-inline: 0;
      border-radius: inherit;
      border: none;
      box-shadow: none;
    }

    .contacts__tel {
      font-size: 17px;
      font-weight: 700;
    }

    .contacts__email,
    .contacts__item span {
      font-size: 15px;
    }

    .contacts__socials {
      justify-content: center;
    }

  }
}



/* modal offer-call */
@media (min-width:10px) and (max-width:1024px) {

  .modal__content {
    padding: 16px;
  }

  .modal__title {
    text-align: center;
    font-size: 20px;
    line-height: 150%;
  }

  .modal__descr {
    text-align: center;
  }

  .modal__ok {
    width: 100%;
  }

  .content-offer-eat {
    flex-direction: column;
    padding-top: 160px;
  }

  .content-offer-eat__left {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
  }

  .content-offer-eat__right {
    padding-inline: 0;
  }
}
